.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.app_form{
  border-radius: 20px;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;

}

.form_head{
  text-align: center;
  border-radius: 20px 20px 0 0;
  background-color: gainsboro;
  margin-top: 0;
  padding: 10px;
}

form input, form select, form button {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

form div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

form label {
  margin-right: 10px;
}

table {
  width: 100%;
  margin-top: 40px;
  border-collapse: collapse;
  background-color: gainsboro;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}

p {
 color: rgb(177, 175, 175);
}
